<template>
  <td class="cell" @click="strike">{{ mark }}</td>
</template>

<script>
  export default {
    props: ['name'],
    data () {
      return {
        freezed: false,
        mark: ''
      }
    },
    methods: {
      strike () {
        if (! this.freezed)  {

          this.mark = this.$parent.activePlayer;
          this.freezed = true;
          Event.$emit('strike', this.name)
        }
      }
    },
    created () {
      try {
        Event.$on('clearCell', () => {
          this.mark = '';
          this.freezed = false;
        });
        Event.$on('freeze', () => this.freezed = true)
      }catch (e) {
        alert(e)
      }
    }
  }
</script>

<style>
  .cell {
    width: 33.333%;
    height: 90px;
    border: 6px solid #2c3e50;
    font-size: 3.5em;
    font-family: 'Gochi Hand', sans-serif;
  }
  .cell:hover {
    background-color: #7f8c8d;
  }
  .cell::after {
    content: '';
    display: block;
  }
  .cell:first-of-type {
    border-left-color: transparent;
    border-top-color: transparent;
  }
  .cell:nth-of-type(2) {
    border-top-color: transparent;
  }
  .cell:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
  }
  tr:nth-of-type(3) .cell {
    border-bottom-color: transparent;
  }
</style>
